h3 {

  text-align: center;
}


/*filter elements */

.filterDiv {
  float: left;
  color: #000000;
  width: 200px;
  line-height: 25px;
  text-align: center;
  margin: 2px;
  display: none;

}

.filterDiv p {

  padding: 15px;

}

.filterDiv img {

  height: 150px;
}

.show {
  display: block;
}

/*filter main container*/

.container {
  margin-top: 100px;
  overflow: hidden;
  clear: both;
  margin-left: 15%;


}


/* filter buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 5px;
  margin-left: 25%;
  display: block;
  width: 50%;

}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*button main container */

#btncontainer {

  width: 100%;
}


