/* -------------------------------------------------------- mobile screen---------------------------------------------------------*/
/* reset margin and padding */
*{

	margin: 0; 
	padding: 0;
}


/*overall container */
div.wrapper {

	width: 100%;

}

div.topbar img{

	width: 25px;
	float: right;
	padding: 5px;

}

h1 {

  text-align: center;
  padding: 25px;  
}

p {

  margin-left: 25px;
  padding: 15px;
}



#awlogo {

	width: 100%;

}


/* available or unavailable */

#booknotif {

  text-align: center;
  padding: 30px;
  color: #33DB21;
}

#firmbut{

  background-color: green;
  color: white;
  padding: 10px;
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10%;

  position: inline-block;
  line-height: 2px;

}

#firmbut i {

  padding-left: 8px;
}


.bookdet button {

margin-top: 15%;

}




#canbut {

  background-color: red;
  color: white;
    padding: 10px;
  width: 100px;
   text-align: center;
  margin-bottom: 20px;
  margin-left: 5%;
  display: inline-block;
}

#canbut i {

  padding-left: 8px;
}

/*navbar*/

.gennavb {
  background-color: #5C607C;
  overflow: hidden;

}

.gennavb a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
}

.gennavb a:hover {
  background-color: #191572;
  color: #ffffff;
}

.active {
  background-color: #191572;
  color: white;
}

/* footer */
.footer {

  background-color: #5C607C;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  height: 70%;
  clear: both;
}

#footerform h3 {

  color: #ffffff;
  padding-bottom: 10px;

}



/*form */
#footerform {

  width: 100%;
  float: left;
}

div.footer img {

  width: 75%;
  padding-bottom: 50px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #56556F;
  opacity: 0.5; /* Firefox */
  text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #56556F;
  text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #56556F;
  text-align: center;
}

/*footer form */

  .box01 , .box02{

  width: 50%;
  height: 35px;
  margin-top: 10px;
}

  div .footer img {

    width: 75%;
    padding-bottom: 50px;
  }

  input[type=submit] {

  background-color: #A8A8AB;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

input[type=submit]:hover {

  background-color: #0C80C3;

}
 input[type=date], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 25px;
  resize: vertical;
}

input[type=number], select, textarea {
   width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 25px;
  resize: vertical;

}

  fieldset input[type=submit] {

  background-color: #A8A8AB;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-left: 45%;
}

fieldset input[type=submit]:hover {

  background-color: #0C80C3;

}



button {

  width: 75px;
  height: 35px;
  border-radius: 25px;

  color: black;
  opacity: 0.8;
}

/*form*/ 
legend {

  margin-left: 50px;
  padding: 25px;
  text-decoration: center;
  font-size: 25px;
}



fieldset select { 

vertical-align: top;
width: 50%;
margin-left: 25px;

 }



@media only screen and (max-width: 700px) {

.gennavb a:not(:first-child) {display: none;}
  .gennavb a.icon {
    float: right;
    display: block;
  }

  .gennavb.responsive {position: relative;}
  .gennavb.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .gennavb.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


}



/* -------------------------------------------------------- tablet screen---------------------------------------------------------*/

@media only screen and (min-width: 700px) {



#awlogo {

  width: 40%;
  padding: 25px;

}

p {

  margin-left: 25%;
}

/* topbar --> support, login, blind people support */
div.topbar img{

  width: 45px;
  float: right;
  padding: 15px;


}

/*confirm buttons*/

#firmbut {

  background-color: green;
  color: white;
  padding: 10px;
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 30%;

  position: inline-block;
  line-height: 2px;

}




#canbut {

  background-color: red;
  color: white;
    padding: 10px;
  width: 100px;
   text-align: center;
  margin-bottom: 20px;
  margin-left: 5%;
  display: inline-block;
}



/*navbar*/

.gennavb {
  background-color: #5C607C;
  overflow: hidden;


}

.gennavb a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 15px;
  width: 12%;
}

.gennavb a:hover {
  background-color: #191572;
  color: #ffffff;
}

.active {
  background-color: #191572;
  color: white;
}


legend {

  text-align: center;
}

/*forms*/


fieldset select { 


vertical-align: top;
width: 30%;
margin-left: 30%;
margin-bottom: 35px;

 }


 input[type=date], select, textarea {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-left: 30%;
  margin-bottom: 35px;
  resize: vertical;
}

input[type=number], select, textarea {
   width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-left: 30%;
  margin-bottom: 35px;
  resize: vertical;

}


.gennavb .icon {

  display: none;
}

/* footer */

div.footer img {

  width: 35%;
  padding-bottom: 50px;
}

div.footer h3 {

  font-size: 35px;
}



}



/* -------------------------------------------------------- laptop screen---------------------------------------------------------*/


@media only screen and (min-width: 900px) {

  /*logo*/


#awlogo {

  width: 25%;
  padding: 25px;

}


div.footer img {

  width: 25%;
  padding-bottom: 50px;
}


#firmbut {

  background-color: green;
  color: white;
  padding: 10px;
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 40%;

  position: inline-block;
  line-height: 2px;

}




#canbut {

  background-color: red;
  color: white;
    padding: 10px;
  width: 100px;
   text-align: center;
  margin-bottom: 20px;
  margin-left: 5%;
  display: inline-block;
}


.bookdet button {

  margin-top: 5%;
}






}